@charset "UTF-8";
/* Главная часть сайта */
/* Адаптив */
/* login */
/* HEADER */
/* BLOCK1 */
/* BLOCK2 */
/* BLOCK3 */
/* BLOCK4 */
/* BLOCK5 */
/* BLOCK6 */
/* BLOCK7 */
/* FOOTER */
/* New heights */
/* Img logo */
/* ОФФЕРЫ !!! */
.block2 .container {
  padding: 45px 0 100px 0;
  position: relative; }
  .block2 .container:after {
    content: '';
    display: block;
    height: 200px;
    width: 200px;
    background-image: linear-gradient(to right, #983893, #473fa9);
    box-shadow: 0 40px 70px 0 rgba(125, 70, 211, 0.3);
    border-radius: 50%;
    position: absolute;
    left: 96px;
    top: 1392px;
    z-index: 0; }
  .block2 .container:before {
    content: '';
    display: block;
    height: 280px;
    width: 280px;
    background-image: linear-gradient(143deg, #fd9e4c, #f60d45);
    box-shadow: 0 40px 70px 0 rgba(212, 34, 31, 0.3);
    border-radius: 50%;
    position: absolute;
    right: -140px;
    top: 360px;
    z-index: 0; }

.block2__first-line {
  margin-bottom: 45px;
  line-height: 50px;
  height: 50px;
  font-size: 0; }
  .block2__first-line__item {
    display: inline-block;
    font-size: 16px;
    height: 100%;
    color: rgba(0, 0, 0, 0.6);
    vertical-align: top;
    box-shadow: 0 15px 35px 0 rgba(78, 49, 177, 0.05);
    background: #fff; }

.block2__table {
  float: right;
  width: 943px;
  text-align: center;
  z-index: 2;
  position: relative;
  padding-bottom: 100px; }
  .block2__table::after {
    content: "";
    display: table;
    clear: both; }
  .block2__table__header {
    margin-bottom: 25px;
    text-align: left; }
  .block2__table__hcell {
    display: table-cell;
    color: rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 3px;
    line-height: 8px;
    text-transform: uppercase; }
    .block2__table__hcell_offer {
      padding-left: 30px;
      width: 283px; }
    .block2__table__hcell_rate {
      width: 109px; }
    .block2__table__hcell_epc {
      width: 94px; }
    .block2__table__hcell_cp {
      width: 90px; }
    .block2__table__hcell_approve {
      width: 105px; }
    .block2__table__hcell_geo {
      width: 67px; }
  .block2__table__content {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 15px 35px 0 rgba(78, 49, 177, 0.05);
    font-size: 16px;
    line-height: 10px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    text-align: left; }
  .block2__table__row {
    height: 327px;
    position: relative;
    padding: 30px; }
    .block2__table__row:after {
      content: '';
      position: absolute;
      height: 1px;
      width: 833px;
      background: #000;
      opacity: .05;
      bottom: 0;
      left: 30px; }
    .block2__table__row:last-child:after {
      display: none; }
  .block2__table__cell {
    display: table-cell;
    vertical-align: top;
    padding-top: 13px; }
  .block2__table__num {
    width: 37px;
    color: #000; }
  .block2__table__offer {
    text-align: center;
    width: 216px;
    padding-right: 72px;
    padding-top: 0; }
  .block2__table__img {
    height: 144px;
    width: 144px;
    display: block;
    border-radius: 50%;
    margin-bottom: 20px;
    background: center no-repeat;
    background-size: cover; }
  .block2__table__name {
    text-decoration: none;
    color: #5f3ca3;
    line-height: 1.1; }
  .block2__table__rate {
    width: 111px;
    line-height: 10px;
    font-size: 0; }
  .block2__table__epc {
    width: 94px; }
  .block2__table__today:after {
    content: 'Today';
    line-height: 8px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 8px;
    font-weight: normal;
    position: absolute;
    font-size: 12px;
    left: 0;
    bottom: -19px; }
  .block2__table__month:after {
    content: 'This month';
    line-height: 8px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 8px;
    font-weight: normal;
    position: absolute;
    font-size: 12px;
    left: 0;
    bottom: -19px; }
  .block2__table__today, .block2__table__month {
    position: relative; }
  .block2__table__today {
    margin-bottom: 45px; }
  .block2__table__cr {
    width: 90px; }
  .block2__table__approve {
    width: 105px; }
  .block2__table__countries {
    width: 210px;
    position: relative; }
  .block2__table__country {
    margin-bottom: 26px; }
    .block2__table__country:last-child {
      margin-bottom: 0; }
  .block2__table__flag {
    height: 24px;
    width: 24px;
    display: inline-block;
    margin-right: 43px;
    vertical-align: middle; }
  .block2__table__inline {
    display: inline-block;
    vertical-align: middle; }
  .block2__table__payments {
    margin-bottom: 11px; }
  .block2__table__country-name {
    line-height: 8px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 12px;
    font-weight: normal; }
  .block2__table__links a {
    display: block; }
  .block2__table__view {
    height: 14px;
    width: 20px;
    background-image: url("../img/view.svg");
    margin-bottom: 24px; }
  .block2__table__rocket {
    height: 18px;
    width: 20px;
    background-image: url("../img/rocket.svg"); }
  .block2__table__more {
    margin-top: 40px;
    color: #5f3ca3;
    letter-spacing: 3px;
    font-size: 14px;
    text-transform: uppercase;
    height: 50px;
    width: 197px;
    line-height: 50px;
    border-radius: 5px;
    border: solid 1px rgba(95, 60, 163, 0.15);
    padding: 0 30px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    text-align: left; }
    .block2__table__more:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 0 5px 7px;
      border-color: transparent transparent transparent #5f3ca3;
      position: absolute;
      right: 30px;
      top: 50%;
      margin-top: -5px; }
    .block2__table__more:hover {
      border-color: rgba(95, 60, 163, 0.3); }

.block2__countries-container {
  width: 100%;
  height: 257px;
  position: relative;
  top: -6px;
  padding-top: 6px;
  overflow: hidden; }

.block2__country-slider {
  position: absolute;
  transition: .3s; }

.block2__countries-arrow {
  position: absolute;
  height: 24px;
  width: 24px;
  cursor: pointer; }
  .block2__countries-arrow_up {
    top: -25.5px; }
    .block2__countries-arrow_up:after {
      content: '';
      position: absolute;
      height: 0;
      width: 0;
      border-style: solid;
      border-width: 0 5px 7px 5px;
      border-color: transparent transparent #5e3ca3 transparent;
      left: 50%;
      margin-left: -5px;
      bottom: 0; }
  .block2__countries-arrow_down {
    bottom: -26.5px; }
    .block2__countries-arrow_down:after {
      content: '';
      position: absolute;
      height: 0;
      width: 0;
      border-style: solid;
      border-width: 7px 5px 0 5px;
      border-color: #5e3ca3 transparent transparent transparent;
      left: 50%;
      margin-left: -5px;
      top: 0; }
  .block2__countries-arrow_disable {
    opacity: .2;
    cursor: default; }

.block2__navigation {
  width: 160px; }
  .block2__navigation .block2__navigation__item {
    border-top: 1px solid rgba(95, 60, 163, 0.05); }
    .block2__navigation .block2__navigation__item:last-child {
      border-bottom: 1px solid rgba(95, 60, 163, 0.05);
      padding-bottom: 24px; }
  .block2__navigation__item {
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    font-weight: bold;
    padding: 24px 0 25px 0;
    cursor: pointer; }
    .block2__navigation__item_solo {
      margin-left: 20px;
      cursor: pointer;
      display: block;
      text-decoration: none; }
  .block2__navigation__title {
    line-height: 16px;
    vertical-align: middle;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6); }
    .block2__navigation__title:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 15px;
      width: 15px;
      background: center no-repeat;
      background-image: url("../img/plus.svg");
      background-size: 13px;
      opacity: .3;
      margin-right: 7px;
      position: relative;
      bottom: 1px; }
    .block2__navigation__title_active {
      color: #000; }
      .block2__navigation__title_active:before {
        background-image: url("../img/minus.svg"); }
      .block2__navigation__title_active + .block2__navigation__list {
        display: block; }
  .block2__navigation__list {
    padding: 25px 0 0 20px;
    margin: 0;
    display: none;
    overflow: hidden; }
    .block2__navigation__list__item {
      padding: 0;
      margin-bottom: 16px;
      line-height: 16px;
      color: rgba(0, 0, 0, 0.4);
      font-size: 16px;
      font-weight: normal;
      list-style-type: none; }
      .block2__navigation__list__item a {
        color: inherit;
        text-decoration: none; }
      .block2__navigation__list__item_active {
        color: #000;
        position: relative; }
        .block2__navigation__list__item_active:after {
          content: '';
          position: absolute;
          background: #5f3ca3;
          height: 5px;
          width: 5px;
          border-radius: 50%;
          left: -16px;
          top: 50%;
          margin-top: -3px; }
      .block2__navigation__list__item:last-child {
        margin-bottom: 0; }

/* Search line */
.search-line__time {
  width: 220px;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 155px;
  font-size: 0; }
  .search-line__time label {
    display: inline-block;
    width: 50%;
    text-align: center;
    font-size: 16px; }
  .search-line__time input {
    display: none; }
    .search-line__time input:checked + .search-line__time__custom {
      background-image: linear-gradient(143deg, #fd9e4c, #f60d45);
      color: #fff;
      font-weight: bold; }
  .search-line__time__custom {
    display: block;
    height: 100%;
    width: 100%;
    color: inherit;
    text-decoration: none; }

.search-line__select {
  width: 180px;
  position: relative;
  background: #fff;
  color: rgba(0, 0, 0, 0.6);
  font-family: "ProximaNova", sans-serif;
  font-size: 16px;
  padding: 0 20px;
  cursor: pointer; }
  .search-line__select:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #5e3ca3 transparent transparent transparent;
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -3px; }
  .search-line__select select {
    display: none; }
  .search-line__select__choosen {
    white-space: nowrap;
    overflow: hidden;
    width: 120px; }
  .search-line__select__container {
    width: 100%;
    display: none;
    position: absolute;
    z-index: 5;
    top: 100%;
    left: 0;
    box-shadow: 0 15px 35px 0 rgba(78, 49, 177, 0.05);
    max-height: 200px;
    overflow-y: auto; }
    .search-line__select__container_active {
      display: block; }
  .search-line__select__item {
    height: 30px;
    line-height: 30px;
    width: 100%;
    background: #fff;
    padding: 0 20px;
    position: relative;
    overflow: hidden;
    white-space: nowrap; }
    .search-line__select__item:hover {
      background: #f5f5f5; }

.search-line__traffic-type {
  margin-right: 30px; }

.search-line__geo {
  margin-right: 155px; }

.search-line__search {
  width: 220px;
  position: relative; }
  .search-line__search:before {
    content: '';
    position: absolute;
    height: 14px;
    width: 14px;
    background: url("../img/search.svg") center no-repeat;
    left: 20px;
    top: 50%;
    margin-top: -7px; }
  .search-line__search input {
    height: 100%;
    width: 100%;
    padding: 0 12px 0 44px;
    background: #fff;
    border: none;
    outline: none;
    color: rgba(0, 0, 0, 0.6);
    font-family: "ProximaNova", sans-serif; }
