@charset "UTF-8";
/* Главная часть сайта */
/* Адаптив */
/* login */
/* HEADER */
/* BLOCK1 */
/* BLOCK2 */
/* BLOCK3 */
/* BLOCK4 */
/* BLOCK5 */
/* BLOCK6 */
/* BLOCK7 */
/* FOOTER */
/* New heights */
/* Img logo */
/* ОФФЕРЫ !!! */
.container-2 {
  width: 693px;
  margin: 0 auto; }

.block2 {
  position: relative;
  top: -100px; }

.wrapper {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 15px 35px 0 rgba(78, 49, 177, 0.05);
  padding: 70px;
  color: #000;
  position: relative; }
  .wrapper:after {
    content: '';
    display: block;
    height: 200px;
    width: 200px;
    background-image: linear-gradient(to right, #983893, #473fa9);
    box-shadow: 0 40px 70px 0 rgba(125, 70, 211, 0.3);
    border-radius: 50%;
    position: absolute;
    left: -100px;
    bottom: 70px;
    z-index: -1; }
  .wrapper:before {
    content: '';
    display: block;
    height: 280px;
    width: 280px;
    background-image: linear-gradient(143deg, #fd9e4c, #f60d45);
    box-shadow: 0 40px 70px 0 rgba(212, 34, 31, 0.3);
    border-radius: 50%;
    position: absolute;
    right: -140px;
    top: 170px;
    z-index: -1; }

.form-item {
  width: 100%;
  margin-bottom: 25px;
  vertical-align: top; }
  .form-item_1 {
    width: 259px;
    display: inline-block; }
  .form-item_2 {
    width: 383px;
    display: inline-block; }

.label {
  font-size: 14px;
  line-height: 9px;
  margin-bottom: 15px;
  display: block;
  color: rgba(0, 0, 0, 0.4);
  vertical-align: middle; }
  .label_r:after {
    content: '*';
    margin-left: 6px;
    display: inline-block;
    color: #f73446;
    font-size: 24px;
    line-height: 9px;
    vertical-align: top;
    position: relative;
    top: 5px; }

.input {
  height: 50px;
  width: 100%;
  outline: 0;
  border-radius: 5px;
  background-color: #fff;
  border: solid 1px rgba(0, 0, 0, 0.1);
  padding: 0 22px;
  font-size: 18px;
  line-height: 12px; }
  .input:focus {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); }

textarea.input {
  resize: vertical;
  padding-top: 13px; }

.form-inline {
  text-align: justify;
  font-size: 0; }
  .form-inline:after {
    content: '';
    display: inline-block;
    width: 100%; }

.captcha {
  margin-bottom: 40px; }
  .captcha .form-item {
    margin-bottom: 0; }

.form-checkbox {
  margin-bottom: 40px;
  display: block; }
  .form-checkbox input {
    display: none; }
  .form-checkbox input:checked + .custom-checkbox {
    background-image: url("../img/check.svg"); }
  .form-checkbox label {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    vertical-align: middle;
    display: inline-block; }

.custom-checkbox {
  height: 18px;
  width: 18px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.05);
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  background: center no-repeat; }

.form-btn {
  height: 60px;
  width: 100%;
  border-radius: 5px;
  background-image: linear-gradient(100deg, #fd9e4c, #f60d45);
  box-shadow: 0 10px 25px 0 rgba(212, 34, 31, 0.3);
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 3px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 60px;
  border: none;
  outline: none;
  cursor: pointer; }
